<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">
        <title>Create User Account</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
        <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <!--Title of the page-->
        <h3 style="color: gray">Conference Managment System</h3>

        <!--Navigation bar-->
        <div class="navbar-nav">
            <header>
                <div th:insert="/navbar :: navbar"></div>
            </header>
        </div>

        <!--organization details-->
        <div>
            <center><br/>
                <h1>Organization of Easy-Conference</h1>
            </center><br/>
            <div style="padding: 50px; padding-top: 0px">
                <h3>About us</h3>
                <p>Easy-Conference is an organisation to organise international conferences in Artificial Intelligence discipline. </p>
                <h3>About CMS</h3>
                <p>Due to the global pandemic, all the
                    recent conferences have to be conducted online. To schedule the online presentation sessions, the organiser needs to consider the time zone, the
                    topic and the country differences. Ideally, the participants from the same (or closer) time zones and the same (or the similar) topics should be
                    grouped into the same sessions. Currently, all the registered papers are kept in the MS Excel file, as illustrated in the Figure 1 below. The
                    presentation scheduling is also manually handled which is very time consuming.</p>
                <h3>Project Planning</h3>
                <p>A Software project plan is a document which states that how the project will be executed. It starts by analyzing the existing problem followed by the requirements of the user from the new software system. Based on the requirements time, resources i.e. labors hardware, the software required to develop the system, and budget are estimated. Once the scope of the project has been identified the risksare calculated for the new proposed system</p>
            </div>
        </div>
    </body>
</html>