<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Add Users to Conference</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
    <link href="Style.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="left col-md-2 col-xs-2">
            <div class="card card-left">
                <div class="card-body">
                    <h4 class="card-title">Manage Data</h4>
                    <a href="#" class="btn btn-primary card-button">Users</a>
                    <ul class="list-nobullets">
                        <li class="card-list"><a href="/register" class="card-link"
                                                 style="color:#37404e !important;">Create</a></li>
                        <li class="card-list"><a href="/showusers" class="card-link"
                                                 style="color:#37404e !important;">List</a></li>
                    </ul>

                    <a href="#" class="btn btn-primary card-button">Papers</a>
                    <ul class="list-nobullets">
                        <li class="card-list"><a href="/registerpaper" class="card-link">Create</a></li>
                        <li class="card-list"><a href="/showpapers" class="card-link">List</a></li>
                    </ul>

                    <a href="#" class="btn btn-primary card-button">Conferences</a>
                    <ul class="list-nobullets">
                        <li class="card-list"><a href="#" class="card-link">Create</a>
                        </li>
                        <li class="card-list"><a href="showpapersbygroup" class="card-link">List</a></li>
                    </ul>
                    <a href="#" class="btn btn-primary card-button">Group</a>
                    <ul class="list-nobullets">
                        <li class="card-list"><a href="registergroup" class="card-link">Create</a>
                        </li>
                        <li class="card-list"><a href="showgroups" class="card-link">List</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>