<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

    <!-- Override Boostrap CSS -->
    <link rel="stylesheet"  href="/css/bootstrap-overrides.css" >
    <title>Publisher</title>

</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/registerpublisher}" th:object="${publisher}" method="post">
    <input type="text"  th:field="*{publisherName}"/>
    <p><input type="submit" value="Submit" /> <input type="Reset" value="Reset" id="btnClear" /></p>
</form>
</body>
</html>