<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Override Boostrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap-overrides.css">
    <title>Register Conference</title>

</head>
<body>
<div class="navbar-nav">
    <header>
        <div th:insert="/navbar :: navbar"></div>
    </header>
</div>
<div class="container">
    <div class="row">
        <div class="left col-md-2 col-xs-2">
            <div class="card card-left">
                <div class="card-body">
                    <h4 class="card-title">Manage Data</h4>
                    <a href="#" class="btn btn-primary card-button">Users</a>
                    <ul class="list-nobullets">
                        <li class="card-list"><a href="/register" class="card-link"
                                                 style="color:#37404e !important;">Create</a></li>
                        <li class="card-list"><a href="/showusers" class="card-link"
                                                 style="color:#37404e !important;">List</a></li>
                    </ul>

                    <a href="#" class="btn btn-primary card-button">Papers</a>
                    <ul class="list-nobullets">
                        <li class="card-list"><a href="/registerpaper" class="card-link">Create</a></li>
                        <li class="card-list"><a href="/showpapers" class="card-link">List</a></li>
                    </ul>

                    <a href="#" class="btn btn-primary card-button">Conferences</a>
                    <ul class="list-nobullets">
                        <li class="card-list"><a href="registerconference" class="card-link">Create</a>
                        </li>
                        <li class="card-list"><a href="showconference" class="card-link">List</a></li>
                    </ul>
                    <a href="#" class="btn btn-primary card-button">Group</a>
                    <ul class="list-nobullets">
                        <li class="card-list"><a href="registergroup" class="card-link">Create</a>
                        </li>
                        <li class="card-list"><a href="showgroups" class="card-link">List</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right col-md-10 col-xs-10">
            <form action="#" th:action="@{/registerconference}" th:object="${conference}" method="post"
                  class="form-group">
                <div><label class="form-control">Name</label></div>
                <div><input type="text" th:field="*{conferenceName}" class="form-control"/></div>
                &nbsp
                <div><label class="form-control">Description</label></div>
                <div><textarea rows="5" cols="50" th:field="*{conferenceDescription}" class="form-control"></textarea>
                </div>
                &nbsp
                <div class="row">
                    <div class="left col-md-3">
                        <input type="submit" value="Submit" class="form-control btn-success"/>
                    </div>
                    <div class="right col-md-3">
                        <input type="Reset" value="Reset" class="form-control btn-outline-danger"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>