<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

    <!-- Override Boostrap CSS -->
    <link rel="stylesheet"  href="/css/bootstrap-overrides.css" >
    <title>TOPICS</title>
</head>
<body>
<div>
    <form align="center">
        <button type="submit" formaction="/registertopic" >ADD NEW TOPIC</button>
    </form>
    <form th:action="@{/searchpaper}">
        Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
        &nbsp;
        <input type="submit" value="Search" />
        &nbsp;
        <input type="Reset" value="Clear" id="btnClear" />
    </form>
</div>


<table class="table" align="center" cellspacing="10" cellpadding="7">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Topic</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr itemscope="itemscope" th:each="topic :${listTopics}">
        <td  th:text="${topic.topicID}">ID</td>
        <td th:text="${topic.topicName}">Topic</td>
        <td >
            <a th:href="@{'/edittopic/'+${topic.topicID}}">UPDATE</a>
            <a th:href="@{'/deletetopic/'+${topic.topicID}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>