<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Override Boostrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap-overrides.css">
    <title>EDIT</title>

</head>
<body>
<div class="navbar-nav">
    <header>
        <div th:insert="/navbar :: navbar"></div>
    </header>
</div>
<br/>
<!--editing details of papers-->
<div class="container">
    <div class="row">
        <div class="left col-md-6">
            <form action="#" th:action="@{/userprofile/{uID}}" th:object="${user}" method="post">
                <table class="table table-bordered">
                    <thead class=" table-secondary">
                    <th>USER</th>
                    <th>PName</th>
                    <th>PAPER</th>
                    <th>COUNTRY</th>

                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${user.uID}">ID</td>
                        <td th:text="${user.uName}">NAME</td>
                        <td th:text="${{user.papers}}"> Topic</td>
                        <td th:text="${user.country}"> Title</td>

                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

</body>
</html>